#wrapper {
	width:100%;
	min-width:320px;
	height:400px;
	background:#ddd;
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
	font-size: 7px;


}


#swipeview-slider > div {
	position:relative;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	overflow:hidden;

}

#swipeview-slider span {
	width: 230px;
	-webkit-box-sizing:border-box;
	display:block;
	text-align:center;
	font-size:1.4em;
	padding:0 20px;
	z-index: -40;
}