/*

RestoPagina

*/
body{
    font-family:'Quicksand', sans-serif;
}

h1.selected_campus {
    position: static;
    text-align: center;
    font-size: 70%;
    margin-top: 25%;
    margin-bottom: 5%;
}
.slider {
    margin: auto;
    margin-top:20%;
    padding: 7%;
    max-width: 60%;
    background-color:rgb(222,222,222);
    text-align: center;
    margin-top:20%;
    margin-bottom: 5%;
    clear:both;
}
.content_menu {
    font-size: 65%;
}
.dagvdweek {
    font-size: 70%;
    margin: auto;
}
.gerechten_categorie {
    font-weight: 700;
    font-size: 60%;
}
.gerechten_content {
    
}
.arrow_campuslinks {
    position: absolute;
    top: 14%;
    left: 12%;
    width: 5%;
}
.arrow_campusrechts {
    position: absolute;
    top: 14%;
    width: 5%;
    left: 84%;
}
/* DIENSTEN */

.all_content {
    margin-top: 20%;
}
.overstuvo_titel {
    font-size: 75%;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 10%;
}
.over_stuvo {
    font-size: 50%;
}
.nav_knop {
    width: 20%;
}
.over_stuvo {
    max-width: 80%;
    margin: auto;
}
.logo_centen {
    position: absolute;
    top: 50%;
    left: 7%;
    border
}
.logo_raad {
    position: absolute;
    top: 50%;
    left: 38%;
}
.logo_resto {
    position: absolute;
    top: 70%;
    left: 57%;
}
.logo_kot {
    position: absolute;
    top: 50%;
    left: 68%;
}
.logo_sport {
    position: absolute;
    top: 68%;
    left: 22%;
}
/* Diensten APART */

.terugknop {
    position: fixed;
    top: 90%;
    left: 10%;
}
/*
GOEDE RAAD
*/

.logoraad {
    width: 35%;
    margin-left: 35%;
    margin-top: 5%
}
/*
SPORT EN CULTUUR
*/

.logosport {
    width: 25%;
    margin-left: 35%;
    margin-top: 5%
}
/* 
CENTEN VOOR STUDENTEN
*/

.iconillustration1 {
    position: absolute;
    top: 70%;
    left: 7%;
    width: 5%;
}
.iconillustration2 {
    position: absolute;
    left: 7%;
    width: 5%;
}
.iconillustration3 {
    position: absolute;
    left: 7%;
    top: 80%;
    width: 6%;
}
.iconillustration4 {
    position: absolute;
    top: 95%;
    left: 7%;
    width: 5%;
}
.iconillustration5 {
    position: absolute;
    width: 5%;
    left: 7%;
    top: 99.5%;
}
.iconillustration6 {
    position: absolute;
    left: 7%;
    top: 103%;
    width: 6%;
}
h1.titel_dienst {
    font-size: 75%;
    margin-top: 25%;
    margin-bottom: 5%;
    text-align: center;
}
.logocenten {
    margin-left: 35%;
    margin-top: 5%
}
.infodepartement {
    margin-left: 20%;
    font-size: 50%;
}
/*  */

/*
STUDENTENRESTO
*/
.slider h2{
    font-weight: 900;
    margin-top:2%;
}
h1{
     text-align: center;
     margin:2%;
    margin-top:4%;
    font-size: 120%;
    float:left;
    vertical-align: top;
}
.slider .weekdag{
    font-size: 120%;
}
.logoresto {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}
.logokot {
    width: 49%;
    margin-left: 28%;
    margin-top: 5%
}
#leftarrow{
    width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 	
	border-right:20px solid red; 
    border-radius:10%;
    float:left;
    margin-left:25%;
    vertical-align: top;
}
#rightarrow{
    width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid red;
    border-top-right-radius: 30%;
    float:left;
    vertical-align: top;
}
.clearfix{
    margin-top:10%;
    overflow:auto;
    width:50%;
    text-align: center;
    margin-left:25%;
    margin-right:25%;
    margin-top:60%;
}
p{
    font-size:100%;
}